<div class="row">
    <div class="col-md-12">
        <header class="row">
            {% if page.title != site.title %}
            <div class="sidetitle">
                {% include sitetitle.html %}
            </div>
            {% else %}
            <div class="col-10 offset-md-3 col-md-9">
                {% include sitetitle.html %}
            </div>
            {% endif %}
            <div class="toc-toggle">
                <i class="bi bi-list"></i>
            </div>
        </header>
    </div>
</div>
