<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/syntax_github.css' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/bootstrap-icons/bootstrap-icons.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/katex/katex.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">

    <script type="module" defer src="{{ '/assets/katex/katex.mjs' | relative_url }}"></script>
    <script type="module">
        import renderMathInElement from "{{ '/assets/katex/contrib/auto-render.mjs' | relative_url }}";
        renderMathInElement(document.body);
    </script>

    <script type="module">
        import mermaid from "{{ '/assets/mermaid/mermaid.esm.min.mjs' | relative_url }}";
        mermaid.initialize({ startOnLoad: true });
    </script>

    {% comment %}
    {% if site.search_enabled != false %}
      <script defer src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
    {% endif %}
    {% endcomment %}
    
  
    {% for file in site.static_files %}
      {% if file.path == site.favicon_ico or file.path == '/favicon.ico' %}
        {% assign favicon = true %}
      {% endif %}
    {% endfor %}
    {% if favicon %}
      <link rel="icon" href="{{ site.favicon_ico | default: '/favicon.ico' | relative_url }}" type="image/x-icon">
    {% endif %}
    
  </head>