<div class="row">
    <div class="col-md-12">
        <header class="row">
            {% if page.title != site.title %}
            <div class="col-xs-10 col-sm-10 col-md-3">
                {% include sitetitle.html %}
            </div>
            {% else %}
            <div class="col-xs-10 col-sm-10 offset-md-3 col-md-9">
                {% include sitetitle.html %}
            </div>
            {% endif %}
            <div class="col-xs-2 col-sm-2">
                <i class="bi bi-list"></i>
            </div>
        </header>
    </div>
</div>
